.Calculator {

}
	.Calculator input {
		width: 65%;
	    height: 50px;	            	
    	background-color: #cccccc6e;
	    border: 1px solid #d9d9d9;
	    border-radius: 3px;
	    margin-top: 10px;
	    box-sizing: border-box;
	}

	.Calculator input:focus,
	.Calculator .CalcBtns button:focus {
	    outline: none !important;
	    border:1px solid #FF8C00;
	    box-shadow: 0 0 5px #FF8C00;
	}

	.Calculator button{
		padding: 10px;
	    margin-top: 10px;
	    border-radius: 5px;
	}

	.Calculator p span,
	.Calculator .RandomBtn  {
		color : #FF8C00;
		font-weight: bold;
	}

	.Calculator .Result {
		color : green;
		display: block;
        margin: auto;
    	text-align: left;
    	width: 65%;
	}
		.Calculator .Result label {
			font-weight: bold;
		}

		.Calculator .Result span {
			color : green;
		}

	.Calculator p.ErrorMsg {
		margin-top: 10px;
		color: red;
	}

	.Calculator .CalcContainer {	    	    
	    border: 1px solid #282c34;
    	margin: auto;
    	width: 80%;
    	padding: 10px 0;
	}

	.Calculator .CalcBtns {
		display: flex;
	    justify-content: center;
	    flex-flow: row wrap;
	    width: 75%;
    	margin: auto;
	}
	
	.Calculator .CalcBtns button {
		margin-right: 4px;
	}

	.Calculator .ValidResults {
		text-align: left;
    	margin-left: 25px;
	}

		.Calculator .ValidResults h2 {
			color: #FF8C00;
		}

		.Calculator .ValidResults ul {
	    	display: flex;
		    flex-direction: column;
		    list-style: none;
		    padding: 0;
		}

@media (min-width: 500px) {
	.Calculator .CalcContainer,
	.Calculator .CalcBtns,
	.Calculator input,
	.Calculator .Result {
		width: 50%
	}
}

@media (min-width: 1024px) {
	.Calculator .CalcContainer,
	.Calculator .CalcBtns,
	.Calculator input,
	.Calculator .Result {
		width: 40%
	}
}

@media (min-width: 1400px) {
	.Calculator .CalcContainer,
	.Calculator .CalcBtns,
	.Calculator input,
	.Calculator .Result {
		width: 35%
	}
}